@import "../../scss/variables";
.sidebar{
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    max-width: 200px;
    height: 100vh;
    background-color: var(--warning-color);
    overflow: hidden;
    padding: 0px 20px;
    h2{
        @include f-style(25px, #fff, 600);
        &:hover{
            cursor: pointer;
        }
    }
    
}
.sidebar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    flex: 1;
    gap: 40px ;
    li{
        a{
            text-decoration: none;
            transition: 0.3s;
            @include f-style(20px, #fff, 400);
            &:hover{
                border: 1px solid #fff;
                border-radius: 5px;
                padding: 5px 14px;
            }
        }
    }
}

.sidebar__logout-btn{
    border: none;
    @include f-style(20px, #fff, 500);
    background-color: red;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 100px;
    transition: .2s;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}

.logout-card{
    position: relative;
    z-index: 4;
    position: absolute;
    top: calc(30%);
    left: calc(35%);
    width: 350px;
    height: 200px;
    border-radius: 5px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: black;      
    gap: 20px;
    p{
        @include f-style(1.5rem, #fff, 500);
        letter-spacing: 1px;
    }
    button{
        border: none;
        background-color: red;
        border-radius: 5px;
        padding: 10px 35px;
        transition: 0.2s;
        @include f-style(20px, #fff, 500 );
        &:hover{
            cursor: pointer;
            transform: scale(1.04);
        }
    }
}

.bgwrapper-modal{
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
   position: absolute; 
   backdrop-filter: blur(10px);
}

.close__modal-icon{
    position: absolute;
    top: -10px;
    right: -35px;
    font-size: 28px !important;
    background: transparent !important;
    border: none;
    transition: 0.2s;
    &:hover{
        cursor: pointer;
    }
}