@import "../../../scss/variables";
.user__info-container{
    width: 100%;
}
.user__header{
    width: 1000px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    img{
        width: 100px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    button{
        @include f-style(20px, #1f1f1fcc, 500);
        border-radius: 100px;
        padding: 10px 13px;
        border: none;
        background-color: rgba(240, 239, 250, 1);
    }
}

.user__about{
    width: 1000px;
    height: auto;
    border: 1px solid gray;
}
.info-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .username{
        strong{
            @include f-style(18px, rgba(31, 31, 31, 0.7), 500);
        }
        p{
            @include f-style(24px, #000, 500);
            margin-top: 10px;
        }
    }
}