@import "../../scss/variables";
.outlets{
    width: 1200px;
    height: auto;
    margin: 70px auto;
}
.outlets-title{
    text-align: center;
    strong{
        @include f-style(18px, --warning-color, 600);
        color: var(--warning-color);
        letter-spacing: 1px
    }
    h2{
        @include f-style(55px, #000, 600);
    }
}
.outlets__location-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.outlets-card{
    width: 390px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px 0 10px;
    text-align: center;
    box-shadow: 0 0 5px gray;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 25px;
    .outlets-image{
        width: 100%;
        height: 440px;
        object-fit: cover;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            transition: 0.4s;
            &:hover{
                cursor: pointer;
                transform: scale(1.07);
                opacity: 0.8;
            }
        }
    }
    i{
        font-size: 25px;
        color: var(--warning-color);
        margin: 15px 0 10px;
    }
    p{
        @include f-style(20px, #000, 700);
        width: 300px;
        line-height: 24px;
    }
}