@import "../../scss/variables";

.menu-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
}
.menu-title{
    text-align: center;
    strong{
        @include f-style(19px, #dc780b, 600);
        letter-spacing: 1px;
    }
    h2{
        @include f-style(31px, #000, 700);
        margin-top: 17px;
        margin-bottom: 25px;
    }
    p{
        @include f-style(17px, #000, 500);
        line-height: 24px;
        width: 770px;
        margin: auto;
        text-align: center;
        letter-spacing: 1px;
        
    }
}

.menu__card-container{
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   grid-template-columns: repeat(3, 1fr);
   gap: 10px 25px;
   margin-top: 25px;
}

.menu__food-card{
    width: 380px;
    border-top-left-radius: 90px;
    border-top-right-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    box-shadow: 0 0 3px gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom-right-radius: 100px;
    }
    .menu-title{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        margin-top: 7px;
        strong{
            @include f-style(24px, #000, 700);
        }
        span{
            @include f-style(24px, #000, 700);
        }
    }
    .about-text{
        @include f-style(17px, #292929, 500);
        line-height: 24px;
        width: 340px;
        margin: 20px 0;
        margin-left: 20px;
    }
    .menu-feed{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        button{
            padding: 10px 16px;
            border: none;
            @include f-style(20px, #fff, 700);
            border-radius: 10px;
            background-color: #dc780b;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.menu-feed-icons{
    display: flex;
    gap: 7px;
    i{
        color: #dc780b;
        font-size: 18px;
    }
}