nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background-color: #000000ba;
    backdrop-filter: blur(50px);
    padding: 0px 70px;
    position: sticky;
    top: 0;
}

.nav-menu{
    display: flex;
    gap: 0px 70px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 0px 30px;
    font-size: 22px;
    list-style-type: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.nav-menu > ul li:hover{
    opacity: 0.8;
}

.nav-register{
    display: flex;
    align-items: center;
    gap: 0px 30px;
    width: auto;    
    height: 100%;
    a{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        padding: 7px;
        border: 1px solid gold;
        border-radius: 5px;
        transition: 0.2s;
        &:hover{
            background-color: #fff;
            color: gold;
            border: 1px solid #fff;
            transform: scale(1.07);
        }
        &:active{
            transform: scale(0.98);
        }
    }
}