*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 1);
}
::-webkit-scrollbar{
    display: none;  
}

.active{
    color: #e99c17;
}
